<div>
    <form id="comment-form">
        <div>
            <label for="post-title">Post Title</label>
            <textarea name="title" rows="1"></textarea>
        </div>
       <div>
        <label for="post-title">Text</label>
        <textarea name="content" rows="4"></textarea>
       </div>

        <button type="submit" id="post-btn">Create Post</button>
    </form>
</div>
<script src="/javascript/create-post.js"></script>